#激活使用哪一个配置文件
spring:
  profiles:
    active: dev
  # 配置jsp页面访问路径的前缀和后缀
    #前端视图展示采用JSP
  mvc:
     view:
        prefix: /jsp/
        suffix: .jsp
  #配置编码过滤器
  http:
      encoding:
          chaset: utf-8
          enabled: true
          force: true
  #配置(数据源)数据库连接配置
  datasource:
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/practice

#配置mybatis映射文件所在路径
mybatis:
  mapper-locations: classpath:com/yj/springbootdemo/mapper/*.xml


boot:
  name: 湖北
  location: 武汉

